@import "abstracts/_functions.scss";
@import "abstracts/_mixins.scss";
@import "abstracts/_variables.scss";


@import "base/_animation.scss";
@import "base/_base.scss";
@import "base/_typography.scss";
@import "base/_utilities.scss";

@import "components/_button.scss";

@import "layouts/_header.scss";

@import "pages/_about.scss";
@import "pages/_home.scss";
@import "pages/_top.scss";

.newsletter {
    grid-row: 3/4;
    grid-column: center-start/center-end;
    background-color: pink;
}

.service {
    grid-row: 4/5;
    grid-column: center-start/center-end;
    background-color: red;
}

.features {
    grid-row: 5/6;
    grid-column: center-start/center-end;
    background-color: orange;
}

.award {
    
    grid-row: 6/7;
    grid-column: center-start/center-end;
    background-color: palegoldenrod;
}

.feedback__topic {
    grid-row: 7/8;
    grid-column: center-start/center-end;
    background-color: palegreen;
}

.feedback__section {
    grid-row: 8/9;
    grid-column: center-start/center-end;
    background-color: paleturquoise;
}

.footer {
    grid-row: 9/10;
    grid-column: center-start/center-end;
    background-color: palevioletred;
}