.footer {
    grid-row: 9/10;
    grid-column: center-start/center-end;
    background-color: $color-white;

    margin-top: 8rem;

    display: grid;
    grid-template-columns: 30rem 4fr;
    // grid-template-rows: repeat(6, 1fr);
    width: 110%;
    
    &__logo {
        margin: auto 0rem;
        text-align: center;
    }

    // &__socials {
        
    // }

    &__icon {
        color: #414141;
        font-size: 2rem;
        margin: 2.5rem;
    }

    &__list {
        background-color: green;
    }
}

table {
    padding: 4rem;
    font-size: 1.2rem;
    width: 100%;
}

table tr {
    margin: 1rem;
}

table tr th {
    color: #243757;
    text-align: left;
    padding: .8rem 0;
}

table tr td {
    color: #7a8699;
    padding: .8rem 0;
}

.copyright {
    grid-row: 2/3;
    grid-column: 1/-1;
    text-align: center;
    color: #818181;
    font-size: 1.1rem;

}